$def with (username,firstname,id,name,description,category,countries,age)
<title>::UPLOAD VIDEO::</title>
<style>
    /*
    font-family: 'Abel', sans-serif;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Patua One', cursive;
    */
    *{
        padding:0;
        margin:0;
    }
    body{
        background-color: rgb(22, 22, 22);
    }

    .fa-2x{
        font-size:2em;
    }
    .fa{
        position:relative;
        display:table-cell;
        width:60px;
        height:36px;
        text-align:center;
        vertical-align:middle;
        font-size:20px;
    }

    .main-menu:hover, #navicon:hover, nav.main-menu.expanded{
        width:250px;
        overflow:visible;

    }

    .main-menu{
        background:rgba(0,0,0,1) 4%;
        border-right:1px solid #e46226;
        position: fixed;
        top:60px;
        bottom:0;
        height:100%-70px;
        left:0;
        width:60px;
        overflow:hidden;
        transition: width 0.2s linear;
        z-index:1000;
        -webkit-transform:translate(0) scale(1,1);
    }

    .main-menu > ul{
        margin: 7px 0;
    }

    .main-menu li{
        position: relative;
        display: block;
        width:250px;
    }

    .main-menu li a{
        position: relative;
        display: table;
        border-collapse: collapse;
        border-spacing: 0;
        color:#999;
        font-family:arial;
        font-size:14px;
        text-decoration:none;
        -webkit-transform:translateZ(0) scale(1,1);
        transition: all 0.2s linear;
    }

    .main-menu .nav-icon{
        
        display: table-cell;
        width:60px;
        height:36px;
        text-align:center;
        vertical-align:middle;
        font-size:18px;
        position: fixed;
    }

    .main-menu .nav-text{
        position: relative;
        display: table-cell;
        vertical-align:middle;
        width:190px;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        
    }

    .main-menu ul.logout{
        position:fixed;
        left:0;
        bottom:0;
    }

    .no-touch .scrollable.hover{
        overflow-y:hidden;
    }
    .no-touch .scrollable.hover:hover{
        overflow-y:auto;
        overflow:visible;
    }

    a:hover,a:focus{
        text-decoration: none;
    }

    nav{
        user-select: none;
    }
    nav ul,nav li{
        outline:0;
        margin:0;
        padding:0;

    }

    .main-menu li:hover a,
    .nav.main-menu li:active a,
    .dropdown-menu li a:hover,
    .dropdown-menu li a:focus,
    .dropdown-menu .active a,
    .dropdown-menu .active a:hover,
    .dropdown-menu .active a:focus,
    .no-touch .dashboard-page nav.dashboard-menu ul li:hover a,
    .dashboard-page nav.dashboard-menu ul li.active a{
        color:white;
        background-color:#e46226;
    }

    .area{
        float:left;
        background: #e2e2e2;
        width: 100%;
        height:100%;
    }
</style>
 <style>
* {box-sizing: border-box;}

body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.topnav {
height:60px;
overflow: hidden;
background-color: #000;
color:#FFF;
border-bottom:1px solid #e46226;
position: fixed;
width:100%;
}

.logo{
    float: left;
    display: block;
    color: #e46226;
    text-align: center;
    padding:0px 20px;
    text-decoration: none;        
    font-family: 'Abel', sans-serif;
    font-size: 40px;
    font-weight: 900;

}

.username {
            float: right;
            display: block;         
            text-align: center;
            padding: 15px 16px;
            text-decoration: none;
            color:#fff;
            font-size:25px;
            font-weight: bold;
            font-family: 'Abel', sans-serif;
    
        }

.topnav a:hover {
    background-color: none;
    color: #e46226;
}



.search-container {
    float: left;
    width:40%;
    margin-left:10%;
}

.topnav input[type=text] {
    padding: 6px;
    margin-top: 8px;
    font-size: 17px;
    border: none;
    width:80%;
    color:#000;
}

.topnav .search-container .button {
    float: right;
    padding: 0px 10px;
    margin-top: 8px;
    margin-right: 0px;
    background-color: #e46226;
    font-size: 17px;
    border: none;
    cursor: pointer;
    text-align:center;
    width:20%;
    
}
.button {
    float: right;
    padding: 0px 10px;
    margin-top: 8px;
    margin-right: 0px;
    background-color: #e46226;
    font-size: 17px;
    border: none;
    cursor: pointer;
    text-align:center;
    width:20%;
}
.topnav .search-container button:hover {
    background: #ccc;
}


#navicon{
    visibility: hidden;
    float: left;
    display: block;
    color: #e46226;
    text-align: center;
    padding:0px 20px;
    text-decoration: none;        
    font-family: 'Abel', sans-serif;
    font-size: 40px;
    font-weight: 900;
    position: absolute; 
    left: -999em;
        
}  

#navicon:active { 
    background-color: none;
}

.grid-container {
        display: grid;
        grid-template-areas:
        'video recom recom recom recom recom recom recom recom recom';
        padding-top:120px;
        padding-left:120px;
        width:100%;
        
        }
    
.grid-item {
      color:#FFF;      
      padding: 1%;
      font-size: 30px;
      text-align: center;
         
    }

.thumbimg {
    width:100%;
    max-width:300px;
}

.recommendation {
    min-width:1200px;
}
</style>
<style>   

@media screen and (min-width: 750px) and (max-width: 900px)
{
    .search-container
    {
        width:20%;
    }
    .options
    {
        display:none;
    }
    .recommendation {
    min-width:100%;
}
}
  
@media screen and (max-width: 750px)
{
    .recommendation {
    min-width:100%;
}
    .main-menu
    {
        width:0px;
    }
      
    #lang-selector
    {
        display:none;
    }
    #navicon{
        visibility: visible;
        float: left;
        display: block;
        color: #e46226;
        text-align: center;
        padding:10px 20px;
        text-decoration: none;        
        font-family: 'Abel', sans-serif;
        font-size: 40px;
        font-weight: 900;
        left:0;
        position: relative;
    } 
    .username
    {
        display:none;
    } 
    .logo {
            float: left;
            display: block;
            color: #e46226;
            text-align: center;
            padding:15px 20px;
            text-decoration: none;        
            font-family: 'Abel', sans-serif;
            font-size: 20px;
            font-weight: 900;

        }
    .grid-container {
        display: grid;
        grid-template-areas:'video'
        'recom';
        width:100%;
        padding-top:120px;
        padding-left:0px;
    }

    .thumbimg {
        max-width:100%;
    }

    .search-container {
        float: left;
        width:50%;
        margin-left:1%;
    }
    .searchlist{
        padding:100px 0px 0px 0px;
    }

    
}

    </style>

</head>
<body>

    <nav class="main-menu" id="navbar2">
        <ul>
                <li class="has-subnav">
                        <a href="/uploadvideo"><i class="fa fa-upload fa-2x"></i><span class="nav-text">UPLOAD VIDEO</span></a>
                    </li>                
                    <div style=" padding:0px 10px;"><hr/></div> 
                <li>
                    <a href="/home"><i class="fa fa-home fa-2x"></i><span class="nav-text">HOME</span></a>
                </li>
                <li class="has-subnav">
                    <a href="/subscription"><i class="fa fa-list fa-2x"></i><span class="nav-text">SUBSCRIPTION</span></a>
                </li>                
                <div style=" padding:0px 10px;"><hr/></div> 
                <li>
                    <a href="/categories/entertainment"><i class="fa fa-television fa-2x"></i><span class="nav-text">ENTERTAINMENT</span></a>
                </li>
                <li>
                    <a href="/categories/news"><i class="fa fa-newspaper-o fa-2x"></i><span class="nav-text">NEWS</span></a>
                </li>
                <li>
                    <a href="/categories/education"><i class="fa fa-pencil fa-2x"></i><span class="nav-text">EDUCATION</span></a>
                </li>
                <li>
                    <a href="/categories/sports"><i class="fa fa-soccer-ball-o fa-2x"></i><span class="nav-text">SPORTS</span></a>
                </li>
                <li>
                    <a href="/categories/kids"><i class="fa fa-child fa-2x"></i><span class="nav-text">KIDS</span></a>
                </li>
                <div style=" padding:0px 10px;"><hr/></div>
                <li>
                    <a href="/myprofile"><i class="fa fa-user-circle fa-2x"></i><span class="nav-text">MY PROFILE</span></a>
                </li>
                <li>
                    <a href="/uploads"><i class="fa fa-folder-open fa-2x"></i><span class="nav-text">UPLOADS</span></a>
                </li>
                <li>
                    <a href="/statistics"><i class="fa fa-bar-chart-o fa-2x"></i><span class="nav-text">STATISTICS</span></a>
                </li>
                <li class="has-subnav">
                    <a href="/history"><i class="fa fa-folder-open fa-2x"></i><span class="nav-text">HISTORY</span></a>
                </li>
        </ul>    
        <ul class="logout">
            <li>
                <a href="./logout"><i class="fa fa-power-off fa-2x"></i><span class="nav-text">LOGOUT</span></a>
            </li>
        </ul>    
    </nav>




    <div class="topnav" style="">
            <a id="navicon" onclick="openNav()" style="width:0px;"><i class="fa fa-navicon fa-2x" style="user-select: none; padding:0px; margin:0px"></i></a>
            <a class="logo" href="/">STREAMZ</a>
            <a class="username" href="/myprofile">$firstname</a>        
            <div class="search-container">
                <form method="POST" action="../search">
                <input type="text"  placeholder="Search.." id="searchtext" name="searchtext">
                <button  type="submit" class="button fa-fa-search" value="Search" ><i class="fa fa-search fa-2x"></i></button>
                </form>
            </div>
            &nbsp &nbsp &nbsp
            <div style="float:right; margin-top:20px;" id="google_translate_element">
            </div>
            <a class="username" href="/uploadvideo"><i class="fa fa-upload fa-2x"></i></a>
        </div>


                <div class="grid-container">
                        <div class="video-content" >
                            <img class="thumbimg" src="http://0.0.0.0:8080/thumbnails/$id"  ><br/>
                            <h1 style="font-family: 'Patua One', cursive; color:white; font-size:20px;"> Assigned URL: <span style="font-family: 'Ubuntu', sans-serif;">http//:8080/play/$id</span></h1>
                            <hr/>
                        </div>
                        <div class="recommendation" style="padding:0 10%;">
                              
                                <div class="container">
                                        
                                    
                                </div>
                                <div class="panel panel-default" style=" background-color: #000; color:#FFF; border:none;">
                                        <div class="panel-heading" style=" background-color: #1a1818; color:#FFF; border:none;">  

                                                <form method="POST" enctype="multipart/form-data" action="/uploadvideoinfo" style="color:#FFF;">
                                                        <input class="button" type="submit" value="PUBLISH" /><br/><br/>
                                                        <table style="color:#FFF; font-size: 20px;">

                                                            <tr style="padding:10%; margin:10%; display:none;"> 
                                                                <td><label>Id:</label></td>
                                                                <td style="width:100%; margin:10%;"><input value="$id" style="width:100%; color:#000; padding:10px;" type="text" name="id"/></td>
                                                                
                                                            </tr>
                                                           
                                                            <tr style="padding:10%; margin:10%;"> 
                                                                <td><label>Name:</label></td>
                                                                <td style="width:100%;"><input value="$name" style="width:100%; color:#000; padding:10px;" type="text" name="name"/></td>
                                                            </tr>
                                                        <tr style="padding:10%; margin:10%;">
                                                                <td><label>Description:</label></td>
                                                                <td style="width:100%;"><textarea value="$description" style="width:100%; color:#000; padding:10px;" type="text" name="description"></textarea></td>
                                                            </tr>
                                                        <tr style="padding:10%; margin:10%;">
                                                                <td><label>Tags:</label></td>
                                                                <td style="width:100%;"><input style="width:100%; color:#000; padding:10px;" type="text" name="tags"/></td>
                                                            </tr>

                                                            <tr style="padding:10%; margin:10%;">
                                                                <td><label>Category:</label></td>
                                                                <td style="width:100%;">
                                                               
                                                                    <select name="category" style="font-family: 'Patua One', cursive;font-size: 20px;background-color:#FFF;color:#000;padding:5px;margin-top:7px;text-align: center;">
                                                                        <option value="None1" selected>None</option>
                                                                        <option value="Entertainment">Entertainment</option>
                                                                        <option value="News">News</option>
                                                                        <option value="Education">Education</option>
                                                                        <option value="Sports">Sports</option>
                                                                        <option value="Kids">Kids</option>
                                                                    </select>
                                                                

                                                                </td>
                                                            </tr>

                                                            
                                                            <tr style="padding:10%; margin:10%;">
                                                                <td><label>Change Thumbnail:</label></td>
                                                                <td style="width:100%;"><input type="file" name="mythumbnail"/></td>
                                                            </tr>

                                                            <tr style="padding:10%; margin:10%;">
                                                                <td><label>Subtitles:</label></td>
                                                                <td style="width:100%;"><input type="file" name="mysubtitles"/></td>
                                                            </tr>
                                                        </table><br/><br/>
                                                        <p>RESTRICTION</p>
                                                        <table style="color:#FFF;">     
                                                        <tr style="padding:10%; margin:10%;">
                                                                <td><label>Countries:</label><br/></td>
                                                                <td style="width:100%;"><br/><input  type="checkbox" value="India" name="India"/>India<br/>
                                                                    
                                                                    <input type="checkbox" value="United States" name="UnitedStates"/>US<br/>
                                                                    <input type="checkbox" value="Australia" name="Australia"/>Australia<br/>
                                                                    <input type="checkbox" value="China" name="China"/>China<br/>
                                                                    <input type="checkbox" value="Germany" name="Germany"/>Germany<br/></td>
                                                                    <input style="display:none;" type="checkbox" value="None" name="None" checked/><span style="display:none;">None</span><br/>
                                                            </tr>
                                                            <tr style="padding:10%; margin:10%;">
                                                                    <td><label>Age:</label></td>
                                                                    <td style="width:100%;">
                                                                            <select name="age" style="font-family: 'Patua One', cursive;font-size: 20px;background-color:#FFF;color:#000;padding:5px;margin-top:7px;text-align: center;">
                                                                                    <option value="0" selected>None</option>
                                                                                    <option value="10">10+</option>
                                                                                    <option value="18">18+</option>
                                                                                  </select>

                                                                    </td>
                                                                </tr>

                                                                
                                                            </table>
                                                        
                                                </form>
                                                
                                                
                                        </div>
                    </div>
    
                </div>


                  

<script>
    function openNav() {
        var x = document.getElementById("navbar2");
        if(x.style.width == "250px")
            x.style.width = "0px";
        else
            x.style.width = "250px";

    }
                    

</script>

<script type="text/javascript">
function googleTranslateElementInit() {
  new google.translate.TranslateElement({pageLanguage: 'en', layout: google.translate.TranslateElement.InlineLayout.SIMPLE}, 'google_translate_element');
}
</script>

<script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>


